<!--<div class="component component-graphic-list">
  <ul>
    {{#each data}}
    <li class="component-graphic-item clearfix">
      <a href="{{pageUrl}}" class="component-graphic-thumb">
        <img src="{{imgPath}}" alt="" height="{{../config.imageHeight}}" width="{{../config.imageWidth}}">
      </a>
      <div class="component-graphic-content">
        <div class="component-graphic-title">
          <h3>{{{transformTitle ../config}}}</h3>
        </div>
        <p class="component-graphic-summary">
          {{description}}
        </p>
      </div>

    </li>
    {{/each}}
  </ul>
  {{#if config.showMore}} 
      <div class="showmore"><a href="{{config.link}}">More</a></div>
  {{/if}}
</div>-->
