<!--<div class="component component-video">
    <div class="hd">
        <h3>{{config.title}}</h3>
    </div>
    <div class="bd">
        <ol class="component-video-list">
          {{#each data}}
              <li class="component-video-item">
                <a href="{{pageUrl}}">
                <img src="{{imgPath}}" alt="" height="{{../config.imageHeight}}" width="{{../config.imageWidth}}">
                </a>
                <span class="component-news-date">{{dateFormat publishTime ../config.dateFormat}}</span>
                <p>{{{transformTitle ../config}}}</p>
              </li>
          {{/each}}
        </ol>
    </div>
    {{#if config.showMore}} 
      <div class="showmore"><a href="{{config.link}}">More</a></div>
  {{/if}}
</div>-->
