<!--<div class="component component-image switchable-cont" data-widget="switchable" {{#if config.playMode}}data-widget-play-mode="{{config.playMode}}"{{/if}} {{#if config.interval}}data-widget-interval="{{config.interval}}"{{/if}} data-widget-autoplay="true">
    <div class="prev-div"><a href="#" data-role="prev"><</a></div>
    <div class="wap-ul">
        <div class="pre-div"><a href="#" data-role="move2left"><</a></div>
        <div class="cont">
            <ul class="nav nav-tabs" data-role="tabs">
                {{#each data}}
                    <li><a href="#" data-role="tab"></a></li>
                {{/each}}
            </ul>
        </div>
        <div class="nex-div"><a href="#" data-role="move2right">></a></div>
    </div>
    <div class="next-div"><a href="#" data-role="next">></a></div>
    <div class="tab-content" data-role="panes">
        
        {{#each data}}
            <div class="component-image-list tab-pane fade" data-role="pane">
                <div class="img"><a href="{{pageUrl}}" target="_blank"><img src="{{imgPath}}" alt="{{title}}" height="{{../config.imageHeight}}" width="{{../config.imageWidth}}"></a></div>
                <p class="txt"><a href="{{pageUrl}}" target="_blank">{{{description}}}</a><b class="bg"></b></p>
            </div>
        {{/each}}
    </div>
</div>-->

